/*  UNIVERSAL */

h2 {
  text-align: center;
}

p {
  text-align: center;
}

/*  HEADER */
#header {
  background-color: lightgreen;
  float: left;
  width: 70%;
  margin-left: 15%;
}

#logo {
  float: left;
  margin-left: 20px; 
}

#nav {
  float: right;
  margin-right: 20px; 
}

#nav li {
  display: inline;
  padding-left: 10px;
}

/*  ABOUT */
#about {
  background-color: lightblue;
  float: left;
  clear: left;
  width: 70%;
  margin-left: 15%;
  padding-bottom: 30px;
}

#about p {
  margin: 0 20px 0 20px;
}

/*  PROJECTS */
#projects {
  background-color: lightgrey;
  float: left;
  clear: left;
  width: 70%;
  margin-left: 15%;
  text-align: center;
}

#gallery {
  text-align: center;
  width: 90%;
  margin-left: 12.5%;
}

.img {
  padding: 5px;
  float: left;
  height: auto;
  width: 40%;
  display: inline;
}

#projects img {
  width: 100%;
  text-align: center;

}

/*  CONTACT */
#contact {
  background-color: lightpink;
  float: left;
  clear: left;
  width: 70%;
  margin-left: 15%;
}

/*  FOOTER */
#footer {
  float: left;
  clear: left;
  width: 70%;
  margin-left: 15%;
}
