/*  UNIVERSAL */

body {
  background-image: url('../img/backgrounds/bird.jpg');
  background-attachment: fixed;
  font-family: Arial; 
}

.container { 
  position: absolute;
  width: 80%;
  margin-left: 10%;
  background: rgba(0,0,0,0.2);
  margin-top: -20px;
}


h1, h2 {
  text-align: center;
  clear: both;
  padding-top: 30px;
  color: white;
  opacity: 0.6;
}

p {
  color: white;
  opacity: 0.6;
}

li a { 
  text-decoration: none; 
  color: white;
  opacity: 0.6;
}

/*  HEADER */

#header {
  height: 100px;
}

#logo {
  text-align: center;
  padding-top: 20px;
  color: white;
}

#nav {
  text-align: center;
  padding-right: 60px;
  margin-top: -10px;
}

#nav li {
  list-style: none;
  display: inline-block;
  padding-left: 15px;
}

/*  ABOUT */

#about {
  margin-top: 15px;
  height: 320px;
  clear:both;
}

#about img {
  float: left; 
  margin-left: 12%;
  margin-right: 20px;
  width: 15%;
  border-radius: 10%;
}

#about p {
  font-size: 1.4em;
  margin-top: 10px;
  float: left;
  width: 63%;
}
  
/* PROJECTS */ 

#projects {
  text-align: center;
  margin-top: 15px;
  width: auto;
  height: auto;
  clear: both;
}

.img {
  width: 30%;
  float: left;
  margin-left: 2.5%;
  margin-top: 2.5%;
}

.img img {
  width: 100%;
  display: inline;
  border-radius: 10px;
}

a.hoverimg { 
  text-decoration: none !important;
  position: relative;
}

a.hoverimg:after {
  content: attr(desc);
  position: absolute;
  width: 100%;
  background: rgba(0,0,0,0.8);
  color: white;
  /* background: #FDF6E3; */
  /* color: #6787AB; */
  border-radius: 10px;
  font-size: 0.9em;
  left: 0;
  bottom: 3px;
  opacity: 0;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -ms-transition: 0.6s;
}

a.hoverimg:hover:after {
  opacity: 0.9;
}


/* CONTACT */ 

#contact {
  clear: both;
}

#contact p {
  text-align: center;
}

/* FOOTER */

#footer {
  margin-top: 100px;
  text-align: center; 
  clear: left;
}

#footer a { 
  text-decoration: none;
}

.icon {
  height: 30px;
  width: 30px;
  margin: 4px;
  background-color: white;
  opacity: 0.6;
  border-radius: 30px;
}


